*{
  box-sizing: border-box;
}
html, body {
  font-family: 'Lato', sans-serif;
  height:100%;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position:fixed;
  top:0;
  width: 100%;
}
li{
  float: left;
}
li a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover{
  background-color: #111;
}
.active {
  background-color: blue;
}
.body{
  padding:20px;
  margin-top:30px;
}
.work_logos{
  width:10%;
  border-color:blue;
  border-width: 5px;
  border-style: solid;
  border-radius: 50%;
}
.bgimg{
  background-image: url('/resources/bg3.jpg');
  min-height: 100%;
  background-position: center;
  background-size: cover;
}
.display-container{
  position:relative;
}
.display-middle{
  position:absolute;
  top:25%;
  left:50%;
  transform:translate(-50%,-50%);
  -ms-transform:translate(-50%,-50%);
}
.animate-opacity{
  -webkit-animation:opac 0.8s;
  animation:opac 0.8s
}
.jumbo{
  font-size: 64px!important;
  background-color: rgba(0, 0, 0, 0.81)
}
.animate-top{
  position:relative;
  -webkit-animation:animatetop 0.4s;
  animation:animatetop 0.4s;
}
.text-white{
  color:#fff!important;
}
.border-grey{
  border-color: #9e9e9e!important;
}
.large{
  font-size:18px!important;
}
.center{
  text-align:center!important;
}
.display-bottomleft{
  position:absolute;
  left:0;
  bottom:0;
}
.padding-large{
  padding:12px 24px!important;
}
